.catalog-filter[data-v-101231e4]{display:flex;flex-wrap:wrap;margin-top:.25rem;margin-bottom:.25rem;gap:1rem;align-items:stretch}.catalog-filter[data-v-101231e4]>*{flex-grow:1;flex-basis:300px;min-width:300px}
